<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <title>Pet Store - Dogs</title>
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="petstore.html">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="customer.html">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="dogs.html">Dogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="cats.html">Cats</a>
    </li>
</ul>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Dogs</h1>
        <form action="#" th:action="@{/cats}" th:object="${Cats}" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Name:</label>
                <input class="form-control" id="formGroupExampleInput" placeholder="Enter name" type="text" th:field="*{name}"/>
            </div>

            <div>
                <label for="formGroupExampleInput">Age:</label>
                <input class="form-control" id="formGroupExampleInput2" placeholder="Enter age" type="number" th:field="*{age}"/> <br/>
            </div>

            <div>
                <label for="formGroupExampleInput">Gender:</label>
                <select class="custom-select">
                    <option selected="">Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div> <br/>

            <div>
                <label for="formGroupExampleInput">Pet Type:</label>
                <select class="custom-select">
                    <option selected="">Open this select menu</option>
                    <option value="1">Dog</option>
                    <option value="2">Cat</option>
                </select>
            </div><br/>

            <div>
                <label for="formGroupExampleInput">Breed:</label>
                <select class="custom-select">
                    <option selected="">Select Breed</option>
                    <option value="1">Alaskan Husky</option>
                    <option value="2">Boxer</option>
                    <option value="3">Chihuahua</option>
                    <option value="4">Golden Retriever</option>
                    <option value="5">Maltese</option>
                    <option value="6">Poodle</option>
                    <option value="7">Shar Pei</option>
                    <option value="8">Yorkshire Terrier</option>
                </select>
            </div> <br/>

            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
</body>
</html>

